<!DOCTYPE html>
<html>
<head>

    <title>Student Performance Prediction</title>

</head>

<body>

    <h2>Student Performance Prediction</h2>


    <form method="POST">

        {% csrf_token %}


        <label>
            Study Hours
        </label>

        <br>

        <input
            type="number"
            name="study_hours"
            step="0.1"
            required
        >

        <br><br>


        <label>
            Attendance
        </label>

        <br>

        <input
            type="number"
            name="attendance"
            step="0.1"
            required
        >

        <br><br>


        <label>
            Previous Marks
        </label>

        <br>

        <input
            type="number"
            name="previous_marks"
            step="0.1"
            required
        >

        <br><br>


        <button type="submit">
            Predict
        </button>

    </form>


    {% if result %}

        <hr>

        <h3>
            Prediction: {{ result }}
        </h3>

        <p>
            PASS Probability:
            {{ probability }}%
        </p>

    {% endif %}


</body>
</html>